.alaska{
    height: 10rem;
    position: relative;
}
.alaska-pic{
    height: 10rem;
    transition: all 0.3s;
}
.alaska-header{
    font-size: 2rem;
    opacity: 0;
    color: white;
    position: absolute;
}
