// @import "./_gallery.scss";
@import "./text";
@import "./hot-chocolate";
@import "./alaska";
@import "./button";

body{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
